@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    background: #ffffff;
    margin: 0;
    font-family: 'Poppins';

}

.container {
    margin: 0em 14em;
}

h2 {
    text-align: center;
    color: #354F82;
}

.navbar {
    background: #C8D1E3;
    padding: 1em 0em;
    height: 3em;
    width: 100%;
    text-align: center;

    .logo {
        float: left;
        text-decoration: none;
        font-weight: 700;
        color: #6569CB;
        font-size: 1.2em;
    }
    
    nav {
        float: right;
        background: #C8D1E3;

    }

    ul {
        padding: 0px;
        margin: 0px;
        text-align: center;
        display: inline-block;
    }

    li {
        list-style-type: none;
        padding: 0.8em;
        display: inline;
        font-weight: 500;
    }

    a {
        margin: 0.3em;
        text-decoration: none;
    }
    
}

a {
    color: #444444;
}

a:hover {
    color: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 8em 0em;
}

.hero {
    text-align: center;
    margin-top: 3em;
    color: #2C2B3F;

    .invoicing-text {
        color: #345698;
    }

    .pie-text {
        color: #FFB965;
    }


    .container {
        display: flex;
        justify-content: space-between;
        text-align: left;
        font-size: 1.1em;
    }
}

.left-col {
    float: left;
    padding-top: 2em;
}

.hero-img {
    width: 56%;
    margin-top: -8em;
    z-index: -5;
}

.features-section {
    background: #C8D1E3;
}

.sign-up-cta {
    background: #6569CB;
    color: white; 
    text-decoration: none; // to get rid of underline
    padding: 0.5em 0.8em;
    border-radius: 10px; // roundness of borders
    display: inline-block;
    font-weight: 500;
}

.sign-up-cta:hover {
    background:  #FFB965;
    color: black;
}

.left-col {
    h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }

    .subhead {
        color: #565577;
        font-size: 1.1em;
        padding-bottom: 1em;
    }

    .sign-up-cta {
        padding: 0.5em 1.2em;

    }
}

.features-section {
    background: #F4F8FB;
    color: #61607F;

    img {
        width: 12em;
        height: 12em;
        border-radius: 50%;
    }

    .container {
        display: flex;
        justify-content: space-between;
        text-align: center;

        h3 {
            text-align: center;
            color: #6569CB;

        }

        p {
            text-align: left;
        }
    }

    .feature {
        width: 30%;
    }

}

.info {
    margin-bottom: 2em;
    .container {
        display: flex;
        justify-content: space-between;
    }
    
    .info-images {
        position: relative;
        top: 0;
        left: 0;
        margin-left: 5em;
    }

    .invoice1 {
        position: relative;
        top: 0;
        left: 0;
        width: 80%;
        box-shadow: 8px 8px 5px #ccc;
    }

    .invoice2 {
        position: absolute;
        top: 10em;
        left: -5em;
        width: 70%;
        box-shadow: 8px 8px 5px #ccc;
    }

    .info-text {
        text-align: left;
        color: #807F99;
        margin-top: 2em;
        margin-left: 5em;
        margin-right: 5em;

        h2 {
            color: #807F99;
        }
    }
    
}

.pricing {
    background: #F4F8FB;
    color: #61607F;
    text-align: center;

    h3 {
        text-align: center;
    }

    .premium {
        padding-right: 15em;

    }

    .standard {
        margin-left: -5em;
    }

    .pricing-text {
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding-bottom: 4em;

        ul {
            list-style-type: square;
            list-style-position: inside;
        }
    }
    

    .get-started-cta {
        background: #6569CB;
        color: white; 
        text-decoration: none; // to get rid of underline
        padding: 0.5em 0.8em;
        border-radius: 10px; // roundness of borders
        display: inline-block;
        font-weight: 500;
    }

}

.footer-section {
    background: #354F82;
    padding: 2em 0em;

    .container {
        text-align: left;
        display: flex;
        justify-content: space-between;
        color: #9AA7C0;

        h3 {
            color: white;
        }

        div {
            padding: 0em 4em;
        }

        li {
            padding-bottom: 0.8em;
        }
    }

}